dist/
*~
*.hi
*.o
*.swp
*.swo
*.DS_Store
BEFORE.HERMIT.*
AFTER.HERMIT.*
examples/Haskell2012/paper/
examples/IFL2012/ifl-paper/
src/Language/HERMIT/Parser.hs
src/Language/HERMIT/ParserCore.hs
tests/dump/*.dump
*.dump-simpl
*.dump-prep
